footer {
  padding: 60px 0 !important;

  .footer-logo {
    max-width: 100px;
    margin: 0 auto 15px auto;
  }

  .footer-slogan {
    font-family: 'Block', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 34px;
  }

  a {
    color: $red !important;
    padding: 0 5px;
    transition: color 0.25s ease;

    &:hover {
      color: $blue;
    }
  }

}
