.container-full {
  position: relative;
  top: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
}

.uk-overlay-primary {
  background-color: rgba(0,0,0,0.8);
}

#iesd-video {
  position: absolute;
  top: 0;
  display: block;
}

.uk-modal {
  background-color: rgba(0,0,0,0.9);
}

.uk-modal-body {
  &.image-modal {
    padding: 0;
  }
}
