{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": ["google"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "document": true,
        "window": true,
        "process": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "spread": true,
            "restParams": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-hooks"

    ],
    "rules": {
        "react/jsx-filename-extension": [1, {
            "extensions" : [".js", ".jsx"]
        }],
        "quotes": 0,
        "one-var": 0,
        "strict": 2,
        "camelcase": 2,
        "import/no-unresolved": 0,
        "no-mixed-spaces-and-tabs": 2,
        "no-unused-vars": 2,
        "no-console": 0,
        "max-len": 0,
        "linebreak-style": 0,
        "require-jsdoc": 0,
        "react/jsx-uses-vars": 2,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}
