#announcements {
  height: 25px;
  background-color: $black;
  text-align: center;

  p {
    font-family: 'Book';
    font-size: 14px;
    color: $white;
    line-height: 24px;
  }

  a {
    color: $red;

    &:hover {
      color: $white;
    }
  }
}
