#announcements {
    height: 25px;
    background-color: $yellow;
    text-align: center;
    font-family: 'Book';
    font-size: 14px;
    line-height: 24px;

    a {
        color: $white;

        &:hover {
            color: $navy;
        }
    }
}