.button {
  font-family: "Light", sans-serif;
  display: flex;
  margin: 0 auto;
  padding: 1vw 4vw;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;

  &.button-small {
    width: 25%;
  }

  &.button-full {
    width: 100%;
  }

  &.button-half {
    width: 50%;
  }

  &.button-third {
    width: 33.33%;
  }

  &:hover {
    text-decoration: none;
    filter: saturate(150%);
  }
}

