.events-container {
    // outline: 1px solid red;
     
    .event-name {
        // outline: 1px solid green;
        text-align: right;
    }

    .event-header {
        font-family: 'Block';
    }

    .date {
        height: 9em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    

        .event-day{
            font-family: 'Block';
            font-size: 5rem;
            text-align: center;
            margin-bottom: -5vh;
            background-image: linear-gradient(to left, #3F63E1, #62AE72);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
        .event-month {
            font-family: 'Medium';
            font-size: 1.5rem;
            line-height: 22px;
            text-align: center;
            margin-bottom: 0px;
        }
    
        .event-time{
            font-family: 'Medium';
            font-size: 0.7rem;
            text-align: center;  
            margin-bottom: 0px;      
        }
    }

    .info {
        height: 9em;
        // outline:1px dashed blue;

        .event-buttons {
            margin-top: auto;

            button {
                font-family: 'Book';
                font-size: 1rem;
                color: $white;
                border: none;
                cursor: pointer;
                background-image: linear-gradient(to right, $yellow, $red);
            }
        }
    }
}



div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
