.floating-bar-main {
    text-align: center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:-moz-box;
    display:-webkit-flex;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    height:40%;
    max-width: 1400px;
    width:96%;
    top:50%;
    left: 2%;
    z-index: 1;
    

    .left-floating-bar {
        .fa-phone{
            font-size:25px;
            color: #FFFFFF;
            display: block;
            -moz-transform: translateX(10px) translateY(-50px);
            -o-transform: translateX(10px) translateY(-50px);
            -webkit-transform: translateX(10px) translateY(-50px);
            transform: translateX(10px) translateY(-50px);
            border-width: 0px;
        }
        .fa-envelope{
            font-size:25px;
            color:#FFFFFF;
            display: block;
            -moz-transform: translateX(10px) translateY(-50px);
            -o-transform: translateX(10px) translateY(-50px);
            -webkit-transform: translateX(10px) translateY(-50px);
            transform: translateX(10px) translateY(-50px);
            border-width: 0px;
        }
        .fa-comment-dots{
            font-size: 25px;
            color:#FFFFFF;
            display: block;
            -moz-transform: translateX(10px) translateY(-50px);
            -o-transform: translateX(10px) translateY(-50px);
            -webkit-transform: translateX(10px) translateY(-50px);
            transform: translateX(10px) translateY(-50px);
            border-width: 0px;
        }
        .floating-bar-contact{
            font-family: "Book";
            font-size: 16px;
            color:#FFFFFF;
            display: block;
            -moz-transform: rotate(-90deg) translateX(20px);  /* FF3.5+ */
	        -o-transform: rotate(-90deg) translateX(20px);  /* Opera 10.5 */
            -webkit-transform: rotate(-90deg) translateX(20px);  /* Safari 3.1+, Chrome */
            transform:rotate(-90deg) translateX(20px);
        }
    }

    .right-floating-bar {
        a {
             
                img {
                    transition: all .20s ease-in-out;
                    opacity: 0.85;
                    width: 30px;
                    max-height: 30px;
                }

                &:hover *{
                    opacity: 1;
                } 
        } 
        .share-inner-div{
            font-family: "Book";
            font-size:16px;
            color:#FFFFFF;
            display:block;
            -moz-transform: rotate(-90deg) translateX(90px);  /* FF3.5+ */
	        -o-transform: rotate(-90deg) translateX(90px);  /* Opera 10.5 */
            -webkit-transform: rotate(-90deg) translateX(90px);  /* Safari 3.1+, Chrome */
            transform:rotate(-90deg) translateX(90px);
        }
         
        .social-slack-link {
            position: relative;
            top: -105px; 
        }
        .join-inner-div{
            font-family: "Book";
            font-size:16px;
            color:#FFFFFF;
            display:block;
            -moz-transform: rotate(-90deg) translateX(90px);  /* FF3.5+ */
	        -o-transform: rotate(-90deg) translateX(90px);  /* Opera 10.5 */
            -webkit-transform: rotate(-90deg) translateX(90px);  /* Safari 3.1+, Chrome */
            transform:rotate(-90deg) translateX(90px);
        }
        .floating-bar-inner-line{
            -moz-transform: translateY(-97px);
            -o-transform: translateY(-97px);
            -webkit-transform: translateY(-97px);
            transform: translateY(-97px);
            background-color: #EC2242;
            border:none;
            height:1px;
        }
    }
}
@media (max-width:860px){
    .floating-bar-main{
        display:none;
    }
}


@media (min-width: 1484px){
    .floating-bar-main{
        left: calc(50% - 700px);
    }
}