footer {
    background: url('/static/images/desktop/footer-background-repeatable.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 150px;

    .block {
        @media screen and (max-width: 479px){
            margin-left: 0;
            margin-right: 0;
        }
    }

    .footer-navigate {

        ul {
            padding: 0;

            li {
                font-family: "Book";
                font-size: 20px;
                color: $white;
                list-style-type: none;
            }
        }

        a {
            color: $white;

            &:hover {
                color: $blue;
            }
        }

        p:first-child {
            font-family: "Heavy";
            font-size: 26px;
            color: $light-gray;
            text-transform: uppercase;
        }

        p:not(:first-child) {
            line-height: 36px;
            font-size: 22px;
            color: $white;
            margin: 0;
        }
    }

    .footer-logo {
        width: 304px;

        @media screen and (max-width: 479px) {
            width: 250px;
        }
    }

    .footer-slogan {
        font-family: 'Block';
        font-size: 24px;
        color: $white;
        line-height: 34px;
    }

    .footer-copyright {
        font-family: "Medium";
        font-size: 14px;
    }

    .footer-purpose {
        font-family: "Black";
        font-size: 64px;
        line-height: 74px;
        color: $white;

        @media screen and (min-width: 860px) and (max-width: 1196px) {
            font-size: 44px;
            line-height: 54px;
        }
        @media screen and (max-width: 479px) {
            font-size: 32px;
            line-height: 48px;
        }
    }

    .footer-legal {
        li a {
            color: $white;
            font-family: "Medium";
            font-size: 22px;

            &:hover {
                color: $blue;
            }
        }
    }



    .mapouter {
        position: relative;
        text-align: right;
        height: 230px;
        width: 100% !important;

        @media screen and (max-width: 480px){
            max-width: 320px;
        }
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 230px;
        width: 100% !important;

        iframe {
            border: none;
            height: 230px;
            width: 100%;
            margin: 0 auto;
        }
    }


}

.footer-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
