.goals-container{
	max-height: 446px;
	height: 29.7vw;

	@media screen and (max-width: $medium){
		height: 100%;
		max-height: none;
	}
}

#goals {
	display: flex;
	flex-direction: row;
	align-items: center;

	p {
		margin-bottom: 0px;
	}

	#goals-left {
		padding: 0px;
		max-height: 446px;
		height: 29.7vw;

		.goals-image {
			height: auto;
			width: 100%;
		}

		@media screen and (max-width: 859px) {
			display: none;
		}
	}

	#goals-right {
		display: flex;
		justify-content: center;
		flex-direction: column;

		.goals-heading {
			font-family: 'Block';
			font-size: calc(20px + 1.5vw);
			margin-bottom: 10px;
			text-align: right;
		}

		.goals-desc {
			font-size: calc(16px + 0.5vw);
			font-family: 'Book';
			line-height: 36px;
			text-align: right;
		}

		@media screen and (max-width: 1337px){
			.goals-desc {
				font-size: calc(14px + 0.25vw);
				line-height: 24px
			}
		}

		@media screen and (max-width: 991px){
			.goals-desc {
				font-size: 16px 
			}
		}

		@media screen and (max-width: 859px){
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}