#hero {
    background: url("../static/images/desktop/hero-gradient.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 350px;
    h1 {
        color: red;
    }
}
