#leadership-image{
    display: inliine-block;
    width: 20rem;

    .profile-photo{
        height: 15rem;
        width: 13rem;

        img {
            max-width: 100%;
          }
    }
    .card {
        border: none;
        box-shadow: 0 0 0 0;
    }

      .name-title {
        position: relative;
        bottom: 10px;
        float: right;  
        max-height: 5rem;      
        opacity: 0.5;
        width: 16rem;

        

        .card-content {
            
            margin: 0;
            padding: .5rem;
          }
          .leadership-name {
            font-family: "Heavy";
            font-size: 1.2rem;
            color: $black;
          }
          .leadership-title {
            font-family: "Book";
            font-size: 1.15rem;
          }
      }
      
  }
  