#leadership-image{
    display: inliine-block;
    width: 20rem;

    @media screen and (max-width: $large){
        width: 18rem;
      }

    @media screen and (max-width: $medium){
        width: 16rem;
      }

    .profile-photo{
        height: 14.5rem;
        width: 13rem;
        @media screen and (max-width: $medium){
            height: 11.5rem;
            width: 10rem;
          }

        img {
            position: absolute;
            width: fit-content;
            height: 100%;
          }

        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;

            /** To ficilitate overlay effect & deter inheritance all colors changed to RGBA **/

            background-color: -moz-linear-gradient(left, rgba(2, 174, 114, 0.6), rgba(63, 179, 225, 0.3));
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(2, 174, 114, 0.6), rgba(63, 179, 225, 0.3));
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(2, 174, 114, 0.6), rgba(63, 179, 225, 0.3));
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fb3e1', endColorstr='#02ae72', GradientType=1);
            /* IE6-9 */
        } 
        
    }
    .card {
        border: none;
        box-shadow: 0 0 0 0;
    }

      .name-title {
        background-color: rgba(255, 255, 255, 1);
        position: relative;
        bottom: 2.5rem;
        float: right;  
        max-height: 5rem;      
        opacity: 0.7;
        width: 16rem;  
        
        @media screen and (max-width: $medium){
            width: 14rem;
            opacity: 0.8;
        }
        .card-content {           
            margin: 0;
            padding: .5rem;

            .leadership-name {
                font-family: "Heavy";
                font-size: 1.2rem;
                color: rgba(0, 0, 0, 1);
                @media screen and (max-width: $medium){
                    font-size: 1.2rem;
                }
              }
              .leadership-title {
                font-family: "Book";
                font-size: 1.1rem;

                @media screen and (max-width: $medium){
                    font-size: .9rem;
                }
              }
          }
          
      }
      
  }
  