#leadership-image{
    display: inliine-block;
    width: 20rem;

    @media screen and (max-width: $medium){
        width: 17rem;
      }

    .profile-photo{
        height: 14.5rem;
        width: 13rem;

        @media screen and (max-width: $medium){
            height: 11.5rem;
            width: 10rem;
          }

        img {
            width: auto;
            height: 100%;
          }
    }
    .card {
        border: none;
        box-shadow: 0 0 0 0;
    }

      .name-title {
        position: relative;
        bottom: 2.5rem;
        float: right;  
        max-height: 5rem;      
        opacity: 0.5;
        width: 16rem;  
        
        @media screen and (max-width: $medium){
            width: 14rem;
        }

        .card-content {           
            margin: 0;
            padding: .5rem;

            .leadership-name {
                font-family: "Heavy";
                font-size: 1.2rem;
                color: $black;
                @media screen and (max-width: $medium){
                    font-size: 1.2rem;
                }
              }
              .leadership-title {
                font-family: "Book";
                font-size: 1.1rem;

                @media screen and (max-width: $medium){
                    font-size: .9rem;
                }
              }
          }
          
      }
      
  }
  