#mission{
	max-height: 708px;
	height: 47.25vw;

	div{
		height: 100%;
	}

	p{
		margin: 0;
	}

	#mission-left{
		display: flex;
		justify-content: center;
		flex-direction: column;

		.mission-title{
			font-size: calc(20px + 1.5vw);
			font-family: 'Block';
			margin-bottom: 10px;
		}

		.mission-desc{
			font-size: calc(16px + 0.5vw);
			font-family: 'Book';
			line-height: 36px;
		}

		@media screen and (max-width: 1337px){
			.mission-desc {
				font-size: calc(14px + 0.25vw);
				line-height: 24px
			}
		}

		@media screen and (max-width: 991px){
			.mission-desc {
				font-size: 16px 
			}
		}

		@media screen and (max-width: 859px){
			padding-top: 50px;
			padding-bottom: 50px;
		}
  
	}

	#mission-right{
		position: relative; 

		.mission-image{
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			background: 
				url("../static/images/desktop/ie-cutout-image-background.jpg"),
				linear-gradient(to left, rgba(236, 34, 66, 0.5), rgba(63, 179, 225, 0.5));
			background-blend-mode: multiply;
		    background-attachment: fixed;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: 50% 90%;	

			@media screen and (max-width: 1250px){
				background-size: cover;
			}
		}
		
		.mission-cutout{
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
		}

		img{
			height: inherit;
			width: 100%;
		}

		@media screen and (max-width: 859px) {
			height: 80vw;
		}
 
	}

	@media screen and (max-width: 859px){
		max-height: none;
		height: auto;
	}
}