.navbar-mobile{
	-webkit-tap-highlight-color: transparent;

	.navbar-mobile-logo{
		position: absolute;
		top: 15px;
		left: 30px;
		width: 125px;

		@media screen and (max-width: $small){
			width: 100px;
			left: 25px;
		}
	}
}