.navbar-mobile{
	-webkit-tap-highlight-color: transparent;

	.navbar-mobile-logo{
		position: absolute;
		top: 15px;
		left: 15px;
		width: 125px;

		@media screen and (max-width: $small){
			width: 100px; 
		}
	}
}