.success-image-container{
	max-height: 468px;
	padding: 0;
	position: relative;
	grid-area: image;
	float: left;


	img{
		display: block;
		max-height: 468px;
		position: relative;
		left: 0;
		height: inherit;

		@media screen and (max-width: 860px){
			max-height: none;
			width: 100%;
			height: auto;
		}
	}

	.success-image-overlay{
		position: absolute;
		top: 0;
		left: 0;
		height: 31.25vw;
		max-height: inherit;
		width: 100%;
		background: linear-gradient(to right, rgba(241, 175, 33, 0.2), rgba(236, 34, 66, 0.2) 50%);

		@media screen and (max-width: 860px){
			height: 100%;
		}
	}
}
