  #blogList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  padding: 0 15px;
}


@media screen and (min-width: 700px) {
  #blogList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0;
    width: 80%;
  }

  .blog-post-preview {
    max-width: 310px;
    height: 380px;
  }
}

