  #blogList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 30px;
  padding: 0 15px;
}

.blog-preview, .blog-preview-image {
  width: 100%;
}

.blog-preview-header {
  display: flex;
}

.blog-preview-category {
  display: none;
}

.blog-preview-content {
  font-family: "Book";
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.blog-preview-title {
  font-family: "Black";
}

.blog-preview-author, .blog-preview-date {
  font-size: 12px;
}

.full-article-button {
  display: block;
  text-align: center;
  color: $white;
  width: 100%;
}


@media screen and (min-width: 700px) {
  #blogList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-preview {
    max-width: 310px;
    height: 380px;
  }

  .blog-preview-image {
  }

  .blog-preview-header {
    position: relative;
  }

  .blog-preview-category {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 0 5px 15px;
    font-family: "Medium";
    font-size: 12px;
    background-color: rgba(255,255,255,0.8);
  }

  .blog-preview-content {
    padding: 15px;
  }

  .blog-preview-title {
    font-size: 20px;
  }

  .blog-preview-author {
    font-size: 18px;
  }

  .blog-preview-date {
    font-size: 16px;
  }

  .full-article-button {
    width: 140px;
  }

}

