#iesdBg {
  background: url('../static/images/desktop/inland-empire-software-development-background-light.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 280px;
}

 
.swiper-container{
height: 45vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: none;

}
#communitypic{
  min-width: 90% !important;
  width: 200px;
  margin: 20px;
}

#myCirlce{
  display: block;
}

.circle_container{
  display: flex;
  position: absolute;
  left: 39vw;
  width: 15%;
  height: auto;
  top: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 2em;
  color: #fff;
  line-height: 80px;
  text-align: center;
  background: linear-gradient(to right, #fc5c88, #175cde);
  position: absolute;
  z-index: 10;  
  opacity: .8;
  transition: left 0.5s;    
}

.swiper-button-next{
  right: 18vw;
  display: flex;
  position: absolute;
  width: 15%;
  height: auto;
  top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  background-image: none;
  color: #175cde;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #ec2242, #f1af21);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #ec2242, #f1af21); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.swiper-button-prev{
  left: 18vw;
  display: flex;
  position: absolute;
  width: 15%;
  height: auto;
  top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  background-image: none;
  color: #fc5c88;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #ec2242, #f1af21);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #ec2242, #f1af21); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.swiper-button-prev-sm{ 
  font-size: 2em;
  position: relative;
  left: -10px;
}
.swiper-button-prev-lg,.swiper-button-next-lg {
  font-size: 4em;
}
.swiper-button-next-sm{
  font-size: 2em;
  position: relative;
  left: 10px;
} 

@media only screen and (min-width: 766px) {
  .swiper-slide {
    width: 40%;
  }
  .circle_container{
    top: 38vh;
    left: 40vw;
  }
  .circle {
    width: 110px;
    height: 110px;
    font-size: 3em;
    line-height: 110px;
    bottom: 0px;
    bottom: -45px;

  }
  .swiper-button-next{
    top: 32vh;
    right: 24vw;
    bottom: 0px;
  }
  .swiper-button-prev{
    top: 32vh;
    left: 24vw;
    bottom: 0px;
  }

  .swiper-button-prev-lg, .swiper-button-next-lg {
    font-size: 8em;
  }
  .swiper-button-prev-sm,.swiper-button-next-sm{
  
    font-size: 5em;
  }


}

@media only screen and (min-width: 1023px) {
  .swiper-slide {
    width: 25%;
  }
  .circle {
    width: 150px;
    height: 150px;
    font-size: 4em;
    line-height: 150px;
  }
  .circle_container { 
    top: 40vh;
  }
}


@media only screen and (min-width: 1439px) {
 .circle_container {
 
    left: 600px;
  }
  .swiper-button-next{
    right: 400px;
  }
  .swiper-button-prev{
    
    left: 400px;
  }
  
}



