#goals {
	display: flex;
	flex-direction: row;
	align-items: center;

	#goals-left {
		padding: 0px;

		.goals-image {
			height: auto;
			width: 100%;
		}

		@media screen and (max-width: $medium) {
			display: none;
		}

		@media screen and (max-width: $small) {
			display: none;
		}

	}

	#goals-right {

		.goals-heading {
			font-family: 'Block';
			font-size: calc(1.4em + 1.5vw);
			text-align: right;
		}

		.goals-desc {
			font-family: 'Book';
			font-size: 1.25rem;
			text-align: right;

			.goals-info p br {
				display: none;
			}

		}

		@media screen and (max-width: 1460px) {

				.goals-heading {
					font-size: calc(1.3em + 2vw);
				}
				.goals-desc {
					font-size: 1rem;
				}

			}

			@media screen and (max-width: 1240px) {
				.goals-desc {
					font-size: .93rem;
				}
			}

			@media screen and (max-width: 1140px) {
				.goals-heading {
					font-size: 3rem;
				}
				.goals-desc {
					font-size: .75rem;
				}
			}

			@media screen and (max-width: 1035px) {
				.goals-desc {
					font-size: .68rem;
				}
			}

			@media screen and (max-width: 980px) {
				.goals-desc {
					font-size: .6rem;
				}
			}

			@media screen and (max-width: $medium) {
				height: 50%;

				.goals-heading {
					font-size: 4rem;
					text-align: left;
				}
				.goals-desc {
					font-size: 1.15rem;
					text-align: left;

					.goals-info p br {
						display: inline;
					}
				}

			}

			@media screen and (max-width: $small) {
				height: 50%;
				padding: 0px;

				.goals-heading {
					font-size: calc(1.4em + 1.5vw);
					text-align: left;
				}
				.goals-desc {
					font-size: 1.05rem;
					text-align: left;
				}

			}

	}

	@media screen and (max-width: $small) {
		padding: 0px;
	}

}