.hero-event-container {
	height: 185px;
	width: 515px;
	p {
		margin: 0px;
	}
	.hero-event-info {
		height: 70%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		background: yellow;
		.hero-event-date {
			height: 130px;
			width: 30%;
			p:first-child {
				margin-bottom: 25px;
				font-family: 'Block';
				font-size: 100px;
				text-align: center;
				line-height: 62px;	
			}
			p:not(:first-child) {
				font-family: 'Medium';
				font-size: 22px;
				line-height: 22px;
				text-align: center;
			}
			p:last-child {
				font-size: 16px;
			}
		}
		.hero-event-desc {
			display: flex;
			flex-direction: column;
			height: 130px;
			width: 70%;
			justify-content: space-between;
			text-align: right;
			background: blue;
			p:first-child {
				font-family: 'Book';
				font-size: 22px;
			}
			.hero-event-location {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				font-family: 'Book';
				p:first-child {
					font-family: 'Heavy';
					font-size: 16px;
				}
			}
		}
	}
	.reserve-wrapper {
		.reserve-button {
			width: 100%;
			margin-top: 5px;
			font-family: 'Book';
			font-size: 30px;
			background: orange;
		}
	}
}