.hero-event-container {
	height: 185px;
	width: 515px;
	p {
		margin: 0px;
		color: $white;
	}
	.hero-event-info {
		height: 70%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		background-color: rgba(0,0,0,0.65);
		.hero-event-date {
			height: 130px;
			width: 30%;
			p:first-child {
				margin-bottom: 25px;
				font-family: 'Block';
				font-size: 100px;
				text-align: center;
				line-height: 62px;	
			}
			p:not(:first-child) {
				font-family: 'Medium';
				font-size: 22px;
				line-height: 22px;
				text-align: center;
			}
			p:last-child {
				font-size: 16px;
			}
			@media screen and (max-width: $small) {
				p:first-child {
					font-size: 80px;
				}
				p:not(:first-child) {
					font-size: 18px;
				}
				p:last-child {
					font-size: 12px;
				}
			}
		}
		.hero-event-desc {
			display: flex;
			flex-direction: column;
			height: 130px;
			width: 70%;
			justify-content: space-around;
			text-align: right;
			@media screen and (max-width: $small) {
				padding-left: 10px;
			}
			p:first-child {
				font-family: 'Book';
				font-size: 22px;
			}
			@media screen and (max-width: $small) {
				p:first-child {
					font-size: 18px;
				}
			}
			.hero-event-location {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				font-family: 'Book';
				p:first-child {
					font-family: 'Heavy';
					font-size: 16px;
					margin-right: 5px;
				}
				@media screen and (max-width: $small) {
					p:first-child {
						font-size: 12px;
						line-height: 14px;
					}
					p:last-child {
						font-size: 11px;
					}
				}
			}
		}
	}
	.reserve-wrapper {
		.reserve-button {
			width: 100%;
			margin-top: 5px;
			font-family: 'Book';
			font-size: 30px;
			color: $white;
			border: none;
			cursor: pointer;
			outline: 0;
			background-image: linear-gradient(to right, #F0A723, #EC2342);
		}
	}
}