header#pageTitle {
  height: 275px;
  background-size: cover;

  .overlay-background-header {
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }

  @media screen and (max-width: 480px) {
      height: 190px;
  }

  h1 {
    font-family: "Block", sans-serif;
    color: #fff;
    position: relative;
    bottom: -195px;
    font-size: 75px;
    margin: 0 auto;
    left: -10px;

    @media screen and (max-width: 860px) {
      font-size: 60px;
      bottom: -210px;
      left: 0;
    }

    @media screen and (max-width: 480px) {
      font-size: 40px;
      bottom: -147px;
    }
  }
}
