// Sidebar Styles
.widget-area {
    .widget {
        margin-bottom: $spacer-lg;
        
        .widget-title {
            font-size: $font-size-large;
            margin-bottom: $spacer-sm;
        }
    }
} 