#blog {
  padding-top: 60px;
  padding-bottom: 60px;

  .uk-slider-container {
    overflow: unset !important;

    li {
      filter: saturate(.75);
      transition: filter 200ms ease-in;

      a:hover {
        color: $black;
      }

      &:hover {
        filter: saturate(1.25);
      }
    }

    .uk-card {
      .button {
        margin:0 auto;
        display: block !important;
        float: none;
        text-align: center;

        @media screen and (max-width: 640px){
          width: 100% !important;
        }
      }
    }
  }

  .uk-card,
  .uk-card-title {
    color: $dark-gray;
  }

  .uk-card-media-top {
    margin-bottom: 10px;
    overflow: hidden !important;
  }

  .uk-card {
    box-shadow: none;

    p {
      margin: 0;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .uk-card-body {
      padding: 0;
      margin: 0
    }

    .uk-card-title {
      margin-bottom: 0;
      min-height: 70px;
    }

    .card-content {
      min-height: 100px
    }
  }

  [class*='uk-position-center-left'], [class*='uk-position-center-right'] {
    top: 110%;
  }
  .uk-slidenav {
    transition: all 0.25s ease;
    color: $blue;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .uk-label-white {
    background-color: white;
    color: black;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    text-align: right;
  }

}
