#community-container {
  background-attachment: fixed;

  .uk-card {
    [uk-toggle] {
      cursor: pointer;
      transition: background-color 250ms ease-out;
      background-color: $dark-gray;

      &:hover {
        background-color: $light-gray;
      }
    }
  }
}

#community {
  background-size: cover;
  background-position: center;
  min-height: 280px;
  padding-top: 60px;
  padding-bottom: 60px;

  .uk-slider {
    margin-top: 40px;
  }
}
