.mentorship {
  p {
    font-size: calc(16px + 0.5vw);
    font-family: 'Book', sans-serif;
    line-height: 36px;
  }

  .mentorship-intro-image {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 500px;
  }

  .parallax-overlay-black {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    background-position: 100% 50%;
  }

  .mentorship-parallax-amber {
    height: 350px;
    background-attachment: fixed;
    background-position: center;
  }
}
