.mentorship {
  img {
    @media screen and (max-width: $medium) {
      margin: 0 auto;
      display: block;
      position: relative;
      float: none;
    }
  }

  p.body-content {
    font-size: calc(16px + 0.4vw);
    font-family: 'Book', sans-serif;
    line-height: 36px;
  }

  .mentorship-intro-image {
    display: block;
    width: 100%;
    max-width: 500px;
  }

  .parallax-overlay-black {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 100% 50%;
  }

  .mentorship-parallax-robin {
    background-size: 100% 150%;
    background-repeat: no-repeat;
  }

  .mentorship-parallax-background,
  .mentorship-parallax-amber,
  .mentorship-parallax-robin {
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    display: block;

    h1 {
      position: absolute;
      width: 300px;
      text-align: left;
      top: 45%;
      bottom: 50%;
      font-size: 18px;
    }
  }

  .mentorship-parallax-background,
  .mentorship-parallax-robin {
    height: 250px;
  }

  .mentorship-parallax-background a.button {
    top: 100px;
  }

  small {
    font-size: 12px;
  }
  .mentor-card{
    @media screen and (max-width: $small) {
      padding-right: 1.5rem;
    }
  }
  .mentor-panel{
    @media screen and (max-width: $small) {
      margin-left: -.8rem;
    }
  }

  .mentor-pic{
    @media screen and (max-width: $small) {
      margin-left: -.4em;
    }
  }
  .phone-h{
    @media screen and (max-width: 750px) and (max-height: 450px)  {
      margin-left: 3rem !important;
      
    }
    
  }
  .figcaption-h{
    @media screen and (max-width: 850px)   {
      text-align: center;   
      float: none !important;     
    }
    
  }
  
  .phone-v {
    @media screen and (max-width: 450px) and (max-height: 750px)  {
      margin-left: -0.5rem ;

    }
  }
  .requestbtn{
    @media screen and (max-width: 750px){
      // padding-left: 0px !important;  
      width: 55% !important;
        }
    
  }





}
